<ul>
  <% notes.each do |note| %>
    <li 
      id="<%= note.id %>"> 
      <%= link_to note.title, note_path(note) %> 
      &mdash; 
      <%= edit(note) %> 
      <%= pin(note) %> 
    </li>
  <% end %>
</ul>